{% extends "Layout.html" %} 

{% block contents %}
<div class="header">
    <div class="header-nav">
        <a href="{% url 'diary:main' %}">메인</a>
        <a href="{% url 'diary:todo' %}">일정 만들기</a>
        <a href="{% url 'diary:Detailcalendar' year month %}">달력보기</a>
    </div>
    <div class="header-user">
        <p>{{request.user.first_name}}님. 어서오세요!</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    </div>
</div>
<div class="calendar">
    <div class="calendar_detail">
            <div class="calendar-title">
                {% if month|add:'0' > 1 %}
                <a href="{% url 'diary:Detailcalendar' year month|add:'-1' %}"><<</a>
                {% else %}
                <a href="{% url 'diary:Detailcalendar' year|add:'-1' 12 %}"><<</a>
                {% endif %}
            <div style="margin: 0 15px;"> {{year}} / {{month}} </div>
                {% if month|add:'0' < 12 %}
                <a href="{% url 'diary:Detailcalendar' year month|add:'1' %}">>></a>
                {% else %}
                <a href="{% url 'diary:Detailcalendar' year|add:'1' 1 %}">>></a>
                {% endif %}
            </div>
        <div class="calendar-content">
            <div class="days">일</div>
            <div class="days">월</div>
            <div class="days">화</div>
            <div class="days">수</div>
            <div class="days">목</div>
            <div class="days">금</div>
            <div class="days">토</div>
        {% for day in days %}
            {% if day != 0 %}
                <div class="days_day">
                    <p>{{day}}</p>
                    {% for list in todo_list %}
                        {% if year|add:'0' == list.start_date|date:'Y'|add:'0' %}
                            {% if month|add:'0' == list.start_date|date:'m'|add:'0' %}
                                {% if day|add:'0' == list.start_date|date:'d'|add:'0' %}
                                    <p>{{list.todo}}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="days_day"></div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}