{% extends "Layout.html" %} 

{% block contents %}
<a href="{% url 'diary:write' %}">글쓰기</a>
<div class="calendar">
        <div class="calendar-title">
            {% if month|add:'0' > 1 %}
            <a href="{% url 'diary:main' %}{{year}}/{{month|add:'-1'}}"><<</a>
            {% else %}
            <a href="{% url 'diary:main' %}{{year|add:'-1'}}/12"><<</a>
            {% endif %}
        <div> {{year}}/{{month}}</div>
            {% if month|add:'0' < 12 %}
            <a href="{% url 'diary:main' %}{{year}}/{{month|add:'1'}}">>></a>
            {% else %}
            <a href="{% url 'diary:main' %}{{year|add:'1'}}/1">>></a>
            {% endif %}
        </div>
    <div class="calendar-content">
        <div class="days">일</div>
        <div class="days">월</div>
        <div class="days">화</div>
        <div class="days">수</div>
        <div class="days">목</div>
        <div class="days">금</div>
        <div class="days">토</div>
    {% for day in days %}
        {% if day != 0 %}
            <div class="days_day"><p>{{day}}</p></div>
        {% else %}
            <div class="days_day"></div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}