{% extends "Layout.html" %} 

{% block contents %}
<div class="main">
    <div class="main-box">
        <div class="main-title">
            어제 할 일
        </div>
        <div class="main-subtitle">
            <p>할 일</p> 
            <p>시작일</p>
            <p>종료일</p>
        </div>
        {% for list in yester_list %}
        <div class="main-content">
            <div class="content_box">
                {{list.todo}}
            </div>
            <div class="content_box">
                {{list.start_date|date:'Y-m-d'}}
            </div>
            <div class="content_box">
                {{list.end_date|date:'Y-m-d'}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="main-box">
        <div class="main-title">
            오늘 할 일 ({{month}}/{{day}})
        </div>
        <div class="main-subtitle">
            <p>할 일</p> 
            <p>시작일</p>
            <p>종료일</p>
        </div>
        {% for list in today_list %}
        <div class="main-content">
            <div class="content_box">
                {{list.todo}}
            </div>
            <div class="content_box">
                {{list.start_date|date:'Y-m-d'}}
            </div>
            <div class="content_box">
                {{list.end_date|date:'Y-m-d'}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="main-box">
        <div class="main-title">
            내일 할 일
        </div>
        <div class="main-subtitle">
            <p>할 일</p> 
            <p>시작일</p>
            <p>종료일</p>
        </div>
        {% for list in tomorrow_list %}
        <div class="main-content">
            <div class="content_box">
                {{list.todo}}
            </div>
            <div class="content_box">
                {{list.start_date|date:'Y-m-d'}}
            </div>
            <div class="content_box">
                {{list.end_date|date:'Y-m-d'}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}