{% extends "Layout.html" %} 

{% block contents %}
<div class="header">
    <div class="header-nav">
        <a href="{% url 'diary:main' %}">메인</a>
        <a href="{% url 'diary:todo' %}">일정 만들기</a>
        <a href="{% url 'diary:Detailcalendar' year month %}">달력보기</a>
    </div>
    <div class="header-user">
        <p>{{request.user.first_name}}님. 어서오세요!</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    </div>
</div>
<div class="todo">
    <form method="POST" action="{% url 'diary:todo' %}">
        {% csrf_token %}
        <div class="todo-write">
            <h1>할 일 입력</h1>
                <div>
                    <input type="text" name="todo"/>
                    시작일:<input type="date" value="{{year}}-{{month}}-{{day}}" name="start_date"/>
                    종료일:<input type="date" value="{{year}}-{{month}}-{{day}}" name="end_date"/>
                    <input type="submit" value="완료" />
                </div>
        </div>
    </form>
    <div class="todo-list">
        <h1>해야 할 일</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% for todo in todo_list %}
    <div>
        {{todo.todo}}
        {{todo.start_date|date:'Y-m-d'}} ~
        {{todo.end_date|date:'Y-m-d'}}
    </div>
    {% endfor %}
</div>
{% endblock %}